<ion-view view-title="Todos">
  <ion-content>
    <ion-list>
      <ion-item ui-sref="tab.tododetail({id: todo.id})" class="item-remove-animate item-icon-right" ng-repeat="todo in Todos.data" type="item-text-wrap">
        <h2>{{todo.desc}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="Todos.remove(todo)">
          Remove
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
